<div class = "crad text-center" *ngIf = "product" >
        <div class = "card-header">
            Product Details
        </div>
        <div class = "card-body">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.price | currency }}</h4>
            <p>{{ product.description }}</p>
        
            <button (click)="addToCart(product)">Buy</button>
            <p *ngIf = "product.name == 'Phone Mini'">
                <button [routerLink]="['/sekhar']" >sekar</button>
            </p>
        
        </div>
        
</div>
